<article class="post">
    <div class="row">
        <div id="left" class="column left">
            <h3>Title:</h3>
            <h5>BC Name:</h5>
            <h5>Format:</h5>
            <h5>Length:</h5>
            <h5>Price:</h5>
            <h5>Repeat:</h5>
            <h5>Rating: </h5>
            <h5>Comments:</h5>
        </div>
        <div class="content">
            <div id="right" class="column right">
                <h2>{{title}}</h2>
                <h5>{{bootcampName}}</h5>
                <h5>{{deliverFormat}}</h5>
                <h5>{{length}}</h5>
                <h5>{{price}}</h5>
                <h5>{{repeat}}</h5>
                <h5>{{overallRating}}</h5>
                <h5>{{review_comments}}</h5>
        <a href="dashboard/edit/{{id}}">
        <button type="submit" id="edit-review" class="btn">Edit</button>
        <button class="delete-post-btn btn" type="submit" >Delete Post</button>
        </a>
            </div>
        </div>
    </div>
</article>

<script src="/javascript/delete-post.js"></script>